* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/* Header and navigation styles */

.nav-title {
  font-weight: 800;
  font-size: 45px;
  font-family: "Open Sans";
  font-style: normal;
}
nav {
  justify-content: space-between;
  display: flex;

  padding: 50px 226px;
}
nav ul {
  align-items: center;
  display: flex;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.text-color {
  color: #fd6e0a;
}
.button {
  font-family: sans-serif;
  font-weight: 10;
  color: #ffffff;
  height: 55px;
  border-radius: 5px;
  background-color: #fd6e0a;
  border: none;
  padding: 18px 36px;
}
.all-font {
  font-family: sans-serif;
}
.banner {
  color: #181818;
  font-family: sans-serif;
  margin: 0px 230px;
  align-items: center;
  display: flex;
}
.hi {
  color: #474747;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
}
.dis {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.pic {
  width: 500px;
  object-position: 100px;
  margin-bottom: 0px;
}
.name {
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;

  font-size: 44px;
}
.btn1 {
  font-family: "Open sans";
  font-weight: 100;
  color: #ffffff;
  height: 55px;
  border-radius: 5px;
  background-color: #fd6e0a;
  border: none;
  padding: 15px 36px;
}
.btn2 {
  font-family: "Open sans";
  font-weight: 100;
  color: #ffffff;
  height: 55px;
  border-radius: 5px;
  background-color: #fd6e0a;
  border: none;
  padding: 15px 36px;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"), url("/images/developer.png");
  background-size: 630px, 70px;
  background-repeat: no-repeat;
  background-position: 635px 266px, 46px;
}
/* Main sectrion */
main {
  background: #fff8f3;
  border-radius: 10px;
  max-width: 1140px;
  margin: 0px auto;
}
/* About section styles */
.about {
  text-align: center;
  padding: 100px 70px;
}
.section-about {
  font-size: 30px;
  font-family: "Open Sans";
  color: #181818;
  margin-bottom: 30px;
}
.section-discription {
  color: #757575;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 30px;
}
.main {
  justify-content: space-between;
  display: flex;
  margin: 130px 230px;
}
td {
  color: #474747;
  font-family: sans-serif;
  padding-left: 17px;
}
thead {
  text-align: center;
}
th {
  font-family: sans-serif;
  color: #757575;
}
.info-container {
  justify-content: space-around;
  display: flex;
}
.info-title {
  color: #757575;
  font-family: sans-serif;
}
.info-description {
  color: #474747;
  font-weight: 700;
  font-family: sans-serif;
}
.what-i-do {
  text-align: center;
  padding: 0px 120px;
}
.skill-title {
  text-align: left;
  color: #181818;
}
.skill-description {
  color: #757575;
  text-align: left;
}
.skills {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  font-family: sans-serif;
  padding: 10px;
}
.skill-title {
  margin-top: 15px;
  font-family: sans-serif;
  font-weight: 700;
}
.skill-container {
  margin-top: 50px;
  display: flex;
  gap: 18px;
  justify-content: space-around;
  display: flex;

  padding: 0px 110px;
}
.skill-description {
  margin-top: 15px;
}

.section-title {
  margin-top: 90px;
  font-size: 30px;
  font-family: "Open Sans";
  color: #181818;
  margin-bottom: 30px;
  text-align: center;
  margin-bottom: 80px;
}
/* Resume Styles */
.resume1{
  display: flex;
}
